@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  .filter-box {
    background: linear-gradient(45deg, #FF5B22, #FF9130,#FF6969, #CD1818 );
    background-size: 400% 400%;
    animation: gradientAnimation 8s ease infinite;
  }
  